<main class="main">
  <div class="logIn__div">
    <div class="logIn__header">
      <div class="form__welcome">
        <h1>Welcome to Tickets</h1>
        <h2>Log in</h2>
      </div>
      <div class="form__reg-link">
        <span>No Account?</span>
        <a routerLinkActive="active" routerLink="/reg">Registration</a>
      </div>
    </div>
    <form class="login-form">
      <label for="email">Enter your email</label>
      <input id="email" type="email" placeholder="Email">
      <label for="password">Enter your password</label>
      <input id="password" type="password" placeholder="Password">
      <button class="btn" type="submit">Log In</button>
    </form>
  </div>
</main>
