<div class="wrapper">
  <div class="flip" *ngFor="let event of events">
    <div class="front" [ngStyle]="{
      'background-image': 'url('+event.image+')'
    }" >
      <h1 class="text-shadow">{{event.name}}</h1>
    </div>
    <div class="back">
      <h2>{{event.description}}</h2>
      <p>{{event.date | date:'medium'}}</p>
      <p>{{event.location}}</p>
      <a class="btn buy-btn" (click)="showTickets(event)">FIND TICKET</a>
    </div>
  </div>
</div>
<app-ticket-list *ngIf="this.isDisplayTicket" [event]="eventForDisplay" (isDisplayTicket)="close()"></app-ticket-list>

