<section class="instruction">
  <div class="instruction-step">
    <i class="instruction__icon fa-regular fa-calendar-check instruction__img"></i>
    <div class="instruction__line">
      <hr>
    </div>
    <p class="instruction__tip">Find your perfect event</p>
  </div>
  <div class="instruction-step">
    <i class="instruction__icon fa-regular fa-chart-bar instruction__img"></i>
    <div class="instruction__line">
      <hr>
    </div>
    <p class="instruction__tip">Chose tickets as many as you want</p>
  </div>
  <div class="instruction-step">
    <i class="instruction__icon fa-regular fa-credit-card instruction__img"></i>
    <div class="instruction__line">
      <hr>
    </div>
    <p class="instruction__tip">Buy them</p>
  </div>
  <div class="instruction-step">
    <i class="instruction__icon fa-regular fa-clock instruction__img"></i>
    <div class="instruction__line">
      <hr>
    </div>
    <p class="instruction__tip">Wait for event</p>
  </div>
</section>
