<nav class="navbar">
  <ul class="list">
    <li class="nav__element nav__title">
      <a class= "gradient-text" routerLinkActive="active" routerLink="">Tickets</a>
    </li>
    <li class="nav__element nav__phone">
      <img class="nav__icon" src="assets/img/icons/phone.png" alt="phone">
      <span>+38(097)9709090</span>
    </li>
    <li class="nav__element nav__location">
      <img class="nav__icon" src="assets/img/icons/location.png" alt="location">
      <span>Lviv</span>
    </li>
    <li class="nav__element"><a class="btn nav__btn" routerLinkActive="active" routerLink="/login">LOG IN</a></li>
  </ul>
</nav>
