@import "variables.scss";

body {
  @include body-style;
}

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.container {
  width: 1320px;
}

.btn {
  border-radius: 40px;
  border: #292b31 solid 1px;

  padding: 15px 50px 15px 50px;

  text-align: center;
  text-decoration: none;
  color: white;

  transition: all .4s ease-in-out;

}

.img-div {
  overflow: hidden;
}


.header__top {
  margin: 25px 0 45px 0;
  display: grid;
  grid-template-columns: 16% 26% 26% 16% 16%;
}

.top__title {
  @include gradient-text;

  font-size: 47px;

  margin: 0;
}

.top__phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-icon {
  margin-right: 10px;
}

.top__btn {
  padding: 15px;
  margin: 0 5px 0 5px;
}

.top__btn:hover {
  color: black;
  background: white;
  transition: all .4s ease-in-out;
}

.header__main {
  display: flex;
}

.header__left {
  z-index: 100;
  width: 45%;
  margin-bottom: 225px;
}

.header__subtitle {
  margin-top: 50px;

  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 82px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header__title {
  margin-bottom: 79px;

  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 94px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header__right {
  position: relative;
  width: 30%;
}

.header__bg-picture {
  z-index: -100;
  position: absolute;
  left: -252px;
  top: 0;
  width: 1024px;
  height: 685px;
}

.header__dancer-picture {
  position: absolute;
  z-index: -50;
  width: 700px;
  height: 1247px;
  left: -155px;
  top: -120px;
}

.header__advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.advantage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.advantage-img {
  padding: 2.5px;
  width: 40px;
  height: 40px;
}

.header__btn {
  background-image: linear-gradient(to right, #e75516, #ef9d43, #fc6076, #ff9a44);
  background-size: 300% 100%;
}

.header__btn:hover {
  background-position: 100% 0;
}

.header__instruction {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.instruction-step {
  background: #282b32;
  height: 130px;

  display: flex;
  align-items: center;

  hr {
    width: 30px;
    border: #FFC6194D solid 1px;
  }
}

.instruction-step:nth-child(2n) {
  background: #202124;
}

.instruction__img {
  @include gradient-text;

  font-size: 45px;
  margin: 15px;
}

.instruction__tip {
  margin-left: 15px;
}

.main {
  background: $main-bg-color;
  height: 500px;
}

@media screen and (max-width: 1330px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {

  .header__top {
    grid-template-columns: 14% 26% 20% 20% 20%;
  }

  .header__bg-picture {
    left: -299px;
    width: 826px;
    height: 602px;
  }

  .header__dancer-picture {
    width: 700px;
    height: 1247px;
    left: -265px;
    top: -120px;
  }
}

@media screen and (max-width: 999px) {

  .header__top {
    grid-template-columns: 15% 27% 14% 22% 22%;
  }

  .header__left {
    width: 100%;
    margin-bottom: 70px;
  }

  .header__bg-picture {
    left: -458px;
    width: 672px;
    top: 141px;
  }

  .header__dancer-picture {
    width: 500px;
    left: -305px;
    top: 199px;
  }

  .header__advantages {
    display: flex;
    flex-direction: column;
  }

  .advantage {
    width: 50%;
  }

  .header__instruction {
    grid-template-columns: repeat(2, 1fr);
  }

  .instruction-step:nth-child(2) {
    background: #282b32;
  }

  .instruction-step:nth-child(1) {
    background: #202124;
  }
  .instruction-step:nth-child(4) {
    background: #202124;
  }
}

@media screen and (max-width: 965px) {
  .header__top {
    grid-template-columns: 20% 25% 27% 27%;
  }

  .top__location {
    display: none;
  }

  .header__right {
    width: 0;
  }

  .advantage {
    width: 30%;
  }

  .header__bg-picture {
    left: -734px;
    width: 672px;
    top: 141px;
  }

  .header__dancer-picture {
    left: -530px;
    top: 168px;
  }
}

@media screen and (max-width: 856px) {
  .header__top {
    grid-template-columns: 24% 39% 39%;
  }

  .top__phone{
    display: none;
  }

}

@media screen and (max-width: 856px) {
  .header__top {
    grid-template-columns: 36% 33% 33%;
  }

  .header__bg-picture {
    left: -615px;
    width: 508px;
    top: 243px;
  }

  .header__dancer-picture {
    left: -375px;
    top: 168px;
    width: 400px;
  }
}

@media screen and (max-width: 686px){
  .container{
    width: 95%;
  }

  .advantage {
    width: 40%;
  }

  .instruction-step {

    hr {
      width: 10px;
    }
  }
}