<main>
  <section class="main__left">
    <h2 class="main__subtitle">buy tickets to any event</h2>
    <h1 class="main__title">Ticket Office</h1>
    <div class="main__advantages">
      <p class="advantage advantage__1"><span>
        <img class="advantage-img" src="../../assets/img/icons/verified.png" alt="">
      </span>Save your time</p>
      <p class="advantage advantage__2"><span>
        <img class="advantage-img" src="../../assets/img/icons/verified.png" alt="">
      </span>Save your money</p>
      <p class="advantage advantage__3"><span>
        <img class="advantage-img" src="../../assets/img/icons/verified.png" alt="">
      </span>Save yourself</p>
    </div>
    <a class="btn main__btn" routerLinkActive="active" routerLink="/events">FIND EVENT</a>
  </section>
  <section class="main__right">
    <div class="img-div main__bg-picture">
      <img src="../../assets/img/bg.png" alt="">
    </div>
    <div class="img-div main__dancer-picture">
      <img src="../../assets/img/dancer.png" alt="">
    </div>
  </section>
</main>
<app-instruction></app-instruction>
